
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ENotepad Login</title>
    <!-- CSS Template -->
    <link href="~/static/css/style.css" rel="stylesheet" />
</head>
<body>
    <main>
        <section class="bg-cover bg-no-repeat" style="background-image: url(/static/img/bg-2.jpg);">
            <div class="container">
                <div class="row align-items-center justify-content-center min-vh-100">
                    <div class="col-md-6 col-lg-5 col-xl-4 py-5">
                        <div class="card">
                            <div class="card-body">

                                <div class="pb-4 text-center">
                                    <h3 class="mb-2">Login</h3>
                                    <p>Sign in to your account to continue.</p>
                                    @if (ViewBag.Msg != null)
                                    {
                                        <p class="text-danger">@ViewBag.Msg</p>
                                    }
                                </div>
                                @using (Html.BeginForm("Authenticate", "Account",
                                    FormMethod.Post, new { autocomplete = "off" }))
                                {
                                    <div class="form-group mb-3">
                                        <label class="form-label">Email address</label>
                                        <input type="email" name="Email" autofocus class="form-control" placeholder="name@example.com">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label">Password</label>
                                        <input type="password" name="Password" class="form-control" placeholder="***********">
                                    </div>
                                    <div class="pt-2">
                                        <button type="submit" class="btn btn-primary w-100">Sign in</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- End Main -->
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- appear -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.appear/0.4.1/jquery.appear.min.js"></script>
    <!--bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <!-- Theme Js -->
    <script src="~/static/js/custom.js"></script>
</body>
</html>
