<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ENotepad</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!-- CSS Template -->
    <link href="~/static/css/style.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <footer class="bg-gray-100 footer">
        <div class="footer-bottom footer-border-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-right">
                        <ul class="nav justify-content-center justify-content-md-start my-2 links-dark small footer-link-1">
                            <li><a href="#">Privace &amp; Policy</a></li>
                            <li><a href="#">Faq's</a></li>
                            <li><a href="#">Get a Quote</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-center text-md-right">
                        <p class="m-0 small">Powered by <a target="_blank" href="https://github.com/JicoDotNet/">https://github.com/JicoDotNet</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- appear -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.appear/0.4.1/jquery.appear.min.js"></script>
    <!--bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>    
    <!-- Theme Js -->
    <script src="~/static/js/custom.js?v=1.0"></script>
</body>
</html>
