<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EPad.pw</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!-- CSS Template -->
    <link href="~/static/css/style.css?v=1.0" rel="stylesheet" />
</head>
<body>
    <a id="skippy" class="sr-only sr-only-focusable u-skippy" href="#content">
        <div class="container">
            <span class="u-skiplink-text">Skip to main content</span>
        </div>
    </a>
    <div id="loading" class="preloader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    @RenderBody()

    <footer class="bg-gray-100 footer">
        <div class="footer-bottom footer-border-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-right">
                        <ul class="nav justify-content-center justify-content-md-start my-2 links-dark small footer-link-1">
                            <li><a href="#">Privace &amp; Policy</a></li>
                            <li><a href="#">Faq's</a></li>
                            <li><a href="#">Get a Quote</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-center text-md-right">
                        <p class="m-0 small">Powered By <a href="http://inspironedge.com" target="_blank">Inspiron Edge</a> & <a href="http://itemblob.in" target="_blank">ITEM Blob</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jquery -->
    <script src="~/static/js/jquery-3.5.1.min.js"></script>
    <!-- appear -->
    <script src="~/static/vendor/appear/jquery.appear.js"></script>
    <!--bootstrap-->
    <script src="~/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- countTo -->
    <script src="~/static/vendor/counter/jquery.countTo.js"></script>
    <!-- typed -->
    <script src="~/static/vendor/typed/typed.js"></script>
    <!-- owl-carousel -->
    <script src="~/static/vendor/owl-carousel/js/owl.carousel.min.js"></script>
    <!-- magnific -->
    <script src="~/static/vendor/magnific/jquery.magnific-popup.min.js"></script>
    <!-- isotope -->
    <script src="~/static/vendor/isotope/isotope.pkgd.min.js"></script>
    <!-- jarallax -->
    <script src="~/static/vendor/jarallax/jarallax-all.js"></script>
    <!-- Theme Js -->
    <script src="~/static/js/custom.js?v=1.0"></script>
</body>
</html>
