<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ENotepad</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!-- CSS Template -->
    <link href="~/static/css/style.css?v=1.0" rel="stylesheet" />
</head>
<body>
    <header class="header-main header-light fixed-top">
        <nav class="navbar navbar-expand navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand mt-2" href="/">
                    <img src="~/static/img/logo.png" title="" alt="Online notepad logo" style="width: 160px;">
                </a>
                <div class="collapse navbar-collapse pt-0">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Account")" class="nav-link btn btn-success text-white">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer class="bg-gray-100 footer">
        <div class="footer-bottom footer-border-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-right">
                        <ul class="nav justify-content-center justify-content-md-start my-2 links-dark small footer-link-1">
                            <li><a href="javascript:void(0)">Privace &amp; Policy</a></li>
                            <li><a href="javascript:void(0)">Faq's</a></li>
                            <li><a href="javascript:void(0)">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-center text-md-right">
                        <p class="m-0 small">Powered by <a target="_blank" href="https://github.com/JicoDotNet/e-notepad-AspNet-With-AzureTableStorage">https://github.com/JicoDotNet</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- appear -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.appear/0.4.1/jquery.appear.min.js"></script>
    <!--bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <!-- Theme Js -->
    <script src="~/static/js/custom.js?v=1.0"></script>
</body>
</html>
